img {
    width: 80px;
    height: 80px;
    padding: 1em;
}

/* Utilized https://unused-css.com/blog/css-shake-animation/ */
img.jump-shake:hover {
    animation: jump-shake 1s infinite;
}

@keyframes jump-shake {
    0% { transform: translateX(0) }
    25% { transform: translateY(-9px) }
    35% { transform: translateY(-9px) rotate(17deg) }
    55% { transform: translateY(-9px) rotate(-17deg) }
    65% { transform: translateY(-9px) rotate(17deg) }
    75% { transform: translateY(-9px) rotate(-17deg) }
    100% { transform: translateY(0) rotate(0) }
}

.buttons {
    float: right;
}

.post {
    width: 60%;
    padding: 1rem 1rem;
    margin: auto;
    margin-top: 2em;
    border-color: #000000;
    border-style: solid;
    border-width: 2px;
    padding: 1em;
    padding-bottom: 5em;
    box-shadow: 5px 10px 8px #888888;
}

